mixin portfolio()
	.box.box_nopadding
		.box__in
			+box-name('Portfolio', 'My latest works in the <a href="https://github.com/ilkome" title="ilkome portfolio in the GitHub">GitHub</a>', 'box__name_nopadding')

			.portfolio
				+portfolio-item(
					"Lychee",
					"Responsive landing page.",
					"Jade & Stylus, HTML & CSS, Responsive, WordPress",
					"getlychee",
					"getlychee.com"
				)
				+portfolio-item(
					"GYEC",
					"Landing page with smart left menu and custom scrollbar.",
					"Jade & Stylus, HTML & CSS, JavaScript, jQuery, WordPress",
					"gyec",
					""
				)
				+portfolio-item(
					"Trusted Academics",
					"Web-site on WordPress.",
					"Jade & Stylus, HTML & CSS, WordPress",
					"trusted-academics",
					"trustedacademics.co.uk"
				)
				+portfolio-item(
					"Big Data Project",
					"Responsive landing page with video on the background.",
					"Jade & Stylus, HTML & CSS, Responsive, WordPress",
					"big-data-project",
					""
				)

mixin portfolio-item(name, desc, tags, link, liveLink)
	.portfolio-item
		.portfolio-item__in.js-portfolioAnim
			.portfolio-item__content
				h3.portfolio-item__name= name
				p.portfolio-item__desc!= desc
				.portfolio-item__tags!= tags
				.portfolio-item__links

					if liveLink
						a(href="http://#{liveLink}/" target="_blank" title="Demo #{name}").portfolio-item__link.portfolio-item__demo Live demo
					else
						a(href="http://ilko.me/works/#{link}/" target="_blank" title="Demo #{name}").portfolio-item__link.portfolio-item__demo Demo

					a(href="https://github.com/ilkome/#{link}/" target="_blank" title="Source #{name}").portfolio-item__link.portfolio-item__source Source
			.portfolio-item__pic: img(src="img/portfolio-loading.svg" data-src="img/portfolio-#{link}.jpg", alt="#{name}").portfolio-item__img.js-belazy
